@charset "UTF-8";
/* ********************************************************************-
Date:2018-10-08
SCSS Document:新着アイテム一覧 レイアウトスタイルシート(SP)

 - ******************************************************************** */
[data-cat$="sp"],
.sp {
  display: block !important;
}

.trace-box {
  padding: 0 0 7px 10px;
}
.trace-box * {
  font-size: 0.75rem;
}

.backlink {
  display: none;
}

.footer__link {
  font-size: 12px;
}

/* ページ共通 */
#totop {
  display: none;
  width: 50px;
  height: 50px;
  background: #b7b695;
  border-radius: 3px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  opacity: 0.8;
}
#totop a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
#totop a:visited, #totop a:link {
  text-decoration: none;
  color: #fff;
}
#totop a i {
  font-size: 20px;
  color: #FFF;
}
#totop a span {
  display: block;
  font-size: 9px;
  font-weight: bold;
  color: #FFF;
}

.wrap .header {
  z-index: 1 !important;
}
.wrap .header .header__cont {
  position: relative;
  width: 100%;
  padding-bottom: 40%;
  margin: 0 auto;
  background: url("./assets/image/mv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrap .nav {
  margin: 30px 10px 0;
}
.wrap .nav .nav__ttl {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  background: #d7d7d7;
  padding: 10px 0 10px 7px;
}
.wrap .nav .nav__ttl:nth-of-type(2) {
  margin: 20px 0 0;
}
.wrap .nav .nav__ttl span {
  font-size: 12px;
  margin: 0 0 0 10px;
}
.wrap .nav .nav__ttl::after {
  content: "+";
  position: absolute;
  font-size: 16px;
  top: 8px;
  right: 10px;
}
.wrap .nav .nav__ttl.active::after {
  content: "－";
}
.wrap .nav .nav__items {
  margin: 0 0 0;
  border: 1px solid #d7d7d7;
  display: none;
}
.wrap .nav .nav__items .item {
  display: inline-block;
  color: #333;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4em;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
}
.wrap .nav .nav__items .item a {
  cursor: pointer;
  display: block;
  padding: 7px 0 7px 10px;
}
.wrap .nav .nav__items .item:last-child {
  border: none;
}
.wrap .main {
  padding: 0 0 50px;
}
.wrap .main .main__article {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.wrap .main .main__article.article .article__ttl {
  text-align: center;
  border-bottom: solid 2px #333;
  margin: 0 10px 0;
  padding: 30px 0 7px;
  font-size: 14px;
  font-weight: bold;
}
.wrap .main .main__article.article .article__items {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 10px 0;
  box-sizing: border-box;
}
.wrap .main .main__article.article .article__items .item {
  width: 32%;
  margin: 20px 0.66% 0;
}
.wrap .main .main__article.article .article__items .item a {
  position: relative;
  display: block;
}
.wrap .main .main__article.article .article__items .item__image {
  border: solid #eee 1px;
}
.wrap .main .main__article.article .article__items .item__image img {
  width: 100%;
}
.wrap .main .main__article.article .article__items .item__brand {
  margin: 10px 0 0;
  color: #777;
  font-size: 10px;
}
.wrap .main .main__article.article .article__items .item__price {
  margin: 5px 0 0;
  font-size: 14px;
  font-family: "Din1451Alt";
}
.wrap .main .main__article.article .article__items .item__price::after {
  content: "税込";
  color: #777;
  font-size: 11px;
  margin-left: 3px;
}
.wrap .main__search {
  position: relative;
  margin: 40px 10px 50px;
  box-sizing: border-box;
}
.wrap .main__search.search .search__items .item {
  position: relative;
  display: block;
  margin: 0 auto;
  border: solid #333 2px;
  font-size: 16px;
  font-weight: bold;
  background: #fff;
  box-sizing: border-box;
}
.wrap .main__search.search .search__items .item span {
  display: block;
  margin: 0 0 20px;
  font-size: 12px;
  font-weight: bold;
}
.wrap .main__search.search .search__items .item a {
  display: block;
  padding: 30px 0 35px;
  text-align: center;
}
.wrap .main__search.search .search__items .item .item__txt {
  margin: 7px 0 0 0;
  font-size: 12px;
  font-style: italic;
}
.wrap .main__search.search .search__items .item:nth-child(n + 2) {
  margin-top: 20px;
}
.wrap .main__search.search .search__items .item::after {
  position: absolute;
  top: 48%;
  right: 30px;
  font-family: "FontAwesome";
  content: "\f054";
}
.wrap .main__search.search .search__items .item:hover::after {
  right: 20px;
}
.wrap .main__bnr {
  position: relative;
  margin: 80px 10px 0;
  box-sizing: border-box;
}
.wrap .main__bnr.bnr .bnr__items .item {
  position: relative;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}
