@charset "utf-8";

$margin-class: true !default;
$padding-class: true !default;
$end-val: 10 !default;

$image-dir : './assets/image';
$font-dir : '../../../common/lib/font/';

$cat-color-canada: #007286;
$cat-color-duvetica: #003044;
$cat-color-moncler: #3384c6;
$cat-color-tatras: #ef9313;
$cat-color-herno: #898989;


$color-link-main: #b7b695;//e1c094
