@charset "utf-8";

/* ********************************************************************-
Date:2018-10-08
SCSS Document:新着アイテム一覧 レイアウトスタイルシート(PC)

 - ******************************************************************** */

@import "compass";

@import "settings";
@import "functions";

//huck
[data-cat$="pc"],
.pc {
	display: block !important;
}
// #headerBody {
// 	* {
// 		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka,"ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
// 	}
// 	#menu_info {
// 		font-size: 12px;
// 	}
// }
.trace-box {
	max-width: 1000px !important;
	margin: 7px auto 15px !important;
	padding: 0 !important;
	* {
		font-size: 12px;
		color: #222;
		text-decoration: none;
	}
}
.sns-width {
	width: 600px;
	margin: 50px auto 0;
}

//共通
/* ページ共通 */
#totop {
	display: none;
	width: 60px;
	height: 60px;
	background: $color-link-main;
	border-radius: 3px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;
	opacity: 0.8;
	a {
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		&:visited,&:link {
			text-decoration: none;
			color: #fff;
		}
		i {
			font-size: 20px;
			color: #FFF;
		}
		span {
			display: block;
			font-size: 11px;
			font-weight: bold;
			line-height: 14px;
			color: #FFF;
		}
	}
}

.wrap {
	.header {
		z-index: 1 !important;
		.header__cont {
			position: relative;
			width: 1000px;
			height: 300px;
			margin: 0 auto;
			// background:  url("https://placehold.jp/3d4070/ffffff/1000x280.jpg");
			background:  url("./assets/image/mv.jpg");
			background-repeat: no-repeat;
			.header__ttl {
				position: absolute;
				transform: translateX(-50%);
				top: 35%;
				left: 50%;
				width: 100%;
				text-align: center;
				color: #fff;
				font-size: 32px;
				line-height: 1.4em;
				text-shadow: 1px 1px 3px #000;
				&--fontSmall {
					display: block;
					margin: 10px 0 0;
					color: inherit;
					font-size: 24px;
					line-height: 30px;
				}

			}
		}
	}
	.nav {
		width: 1000px;
		margin: 70px auto 0;
		// border: solid 1px #666;
		.nav__ttl {
			font-size: 16px;
			font-weight: bold;
			&:nth-of-type(2) {
				margin: 40px 0 0;
			}
			span {
				font-size: 12px;
				margin: 0 0 0 10px;
			}
		}
		.nav__items {
			margin: 15px 0 0;
			.item {
				display: inline-block;
				color: #333;
				font-weight: 400;
				font-size: 16px;
				line-height: 1.4em;
				// margin: 0 7px 0 0;
				a {
					cursor: pointer;
				}
			}
			.item::after {
				content: "/";
				display: inline-block;
				font-size: 10px;
				padding: 0 10px;
			}
			.item:last-child::after {
				content: "";

			}
		}
	}
	.main {
		padding: 0 0 100px;
		.main__article {
			position: relative;
			width: 100%;
			max-width: 1000px;
			margin: 0 auto;

			&.article {
				.article__ttl {
					text-align: center;
					border-bottom: solid 3px #333;
					padding: 50px 0 10px;
					font-size: 16px;
					font-weight: bold;
					// font-family: "futura_md";
				}
				.article__items {
					display: inline-flex;
					flex-wrap: wrap;
					width: 100%;
					min-width: 1000px;
					.item {
						width: 170px;
						margin:  30px 15px 0;
						a {
							position: relative;
							display: block;

						}
						&__image {
							border: solid #eee 1px;
							img {
								width: 100%;
							}
						}
						&__brand {
							margin: 5px 0 0;
							color: #777;
							font-size: 12px;
						}
						&__price {
							margin: 5px 0 0;
							font-size: 16px;
							font-family: "Din1451Alt";
							&::after {
								content: "税込";
								color: #777;
								font-size: 11px;
								margin-left: 3px;
							}
						}

						// .item__txt {
						// 	margin: 7px 0 0 0;
						// 	font-size:  14px;
						// 	font-style: italic;
						// 	white-space: nowrap;
						// 	overflow: hidden;
						// 	text-overflow: ellipsis;
						// }

						// &:nth-child(6n){
						// 	margin: 30px 0 0 0;
						// }
					}
				}
			}
		}
	}
	.main__search {
		position: relative;
		width: 100%;
		max-width: 1200px;
		margin: 30px auto 80px;
		&.search {
			.search__items {
				.item {
					position: relative;
					display: block;
					margin: 0 auto;
					width: 700px;
					border: solid #333 2px;
					font-size: 22px;
					font-weight: bold;
					background: #fff;
					box-sizing: border-box;
					span {
						display: block;
						margin: 0 0 20px;
						font-size: 16px;
						font-weight: bold;
					}
					a {
						display: block;
						padding: 70px 0;
						text-align: center;
					}
					.item__txt {
						margin: 7px 0 0 0;
						font-size:  14px;
						font-style: italic;
					}
					&:nth-child(n + 2) {
						margin-top: 30px;
					}
					&::after {
						position: absolute;
						top: 48%;
						right: 30px;
						font-family: "FontAwesome";
						content: "\f054";
					}
					&:hover {
						&::after {
							right: 20px;
						}
					}
				}
			}
		}
	}
	.main__bnr {
		position: relative;
		width: 100%;
		max-width: 1200px;
		margin: 80px auto 0;
		&.bnr {
			.bnr__items {
				.item {
					position: relative;
					display: block;
					margin: 0 auto;
					width: 700px;
					box-sizing: border-box;
				}
			}
		}
	}
}
