@charset "utf-8";

/* ********************************************************************-
Date:2018-10-08
SCSS Document:新着アイテム一覧 基本スタイルシート

 - ******************************************************************** */

@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://use.fontawesome.com/releases/v5.0.8/css/all.css);

@import "compass/reset";
@import "settings";
@import "functions";

@font-face {
    font-family: "ricdim-oblique";
    src: url("#{$font-dir}ricdim-oblique.eot?")  format('eot'),
    url("#{$font-dir}ricdim-oblique.woff2") format('woff2'),
    url("#{$font-dir}ricdim-oblique.woff")  format('woff');
}
@font-face {
    font-family: "futura_md";
    src: url("#{$font-dir}futura_md.eot?")  format('eot'),
    url("#{$font-dir}futura_md.woff2") format('woff2'),
    url("#{$font-dir}futura_md.woff")  format('woff');
}

@mixin cf {
	zoom: 1;
	&:before,
	&:after {
		display: block;
		height: 0;
		visibility: hidden;
		content: '';
	}
	&:after {
		clear: both;
	}
}

/* common style */
.wrap, .qv {
	font-size: 16px;
    line-height: 1em;
    color: #333;
    font-family: "Noto Sans Japanese", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: 200;
    background-image: url("assets/image/noise.png"), linear-gradient(to right, rgba(242, 242, 242, 0.1), rgba(242, 242, 242, 0.1));

    h1, h2, h3, h4, h5, h6 {
        font-family: "ricdim-oblique";
    	font-weight: normal;
    	line-height: inherit;
    	text-align: inherit;
    	font-size: inherit;
    	margin-bottom: inherit;
    }

    .cf {
    	@include cf;
    }
    .fixed {
    	position: fixed;
    	top: 0;
    	margin:0 auto !important;
    	z-index:10;
    }
    .pc,
    .sp {
        display: none;
    }

    img {
    vertical-align: bottom;
    }

    a {
    	&:hover,
    	&:active {
    		color: inherit;
    		text-decoration: none;
    	}
    	&:link,
    	&:visited {
    		color: inherit;
    		text-decoration: none;
    	}

        img:hover {
            opacity: 0.7;
        }
    }

    br {
        &.mb {
            margin-bottom: 30px;
        }
    }
}



/* margin, padding */
@if $margin-class {
	@for $i from 0 through $end-val {
		.mt#{$i * 5} {
			margin-top: 5px * $i !important;
		}
		.mb#{$i * 5} {
			margin-bottom: 5px * $i !important;
		}
		@if $padding-class {
			.pt#{$i * 5} {
				padding-top: 5px * $i !important;
			}
			.pb#{$i * 5} {
				padding-bottom: 5px * $i !important;
			}
		}
	}
}
