@charset "utf-8";

/* ********************************************************************-
Date:2018-10-08
SCSS Document:新着アイテム一覧 レイアウトスタイルシート(SP)

 - ******************************************************************** */

@import "compass";

@import "settings";
@import "functions";

@mixin huck-cmn-style {
	position: relative !important;
	left: inherit !important;
	top: inherit !important;
}

//huck
[data-cat$="sp"],
.sp {
	display: block !important;
}
.trace-box {
	padding: 0 0 7px 10px;
	* {
		font-size: getFontSize(0.75);
	}
}
.backlink {
	display: none;
}
.footer__link {
	font-size: 12px;
}

//共通
/* ページ共通 */
#totop {
	display: none;
	width: 50px;
	height: 50px;
	background: $color-link-main;
	border-radius: 3px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;
	opacity: 0.8;
	a {
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		&:visited,&:link {
			text-decoration: none;
			color: #fff;
		}
		i {
			font-size: 20px;
			color: #FFF;
		}
		span {
			display: block;
			font-size: 9px;
			font-weight: bold;
			color: #FFF;
		}
	}
}

.wrap {
	.header {
		z-index: 1 !important;
		.header__cont {
			position: relative;
			width: 100%;
			// height: 300px;
			padding-bottom: 40%;
			margin: 0 auto;
			// background:  url("https://placehold.jp/3d4070/ffffff/1000x280.jpg");
			background:  url("./assets/image/mv.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			// .header__ttl {
			// 	position: absolute;
			// 	transform: translateX(-50%);
			// 	top: 35%;
			// 	left: 50%;
			// 	width: 100%;
			// 	text-align: center;
			// 	color: #fff;
			// 	font-size: 32px;
			// 	line-height: 1.4em;
			// 	text-shadow: 1px 1px 3px #000;
			// 	&--fontSmall {
			// 		display: block;
			// 		margin: 10px 0 0;
			// 		color: inherit;
			// 		font-size: 24px;
			// 		line-height: 30px;
			// 	}
			//
			// }
		}
	}
	.nav {

		// width: 1000px;
		margin: 30px 10px 0;
		// border: solid 1px #666;

		// text-align: center;
		.nav__ttl {
			font-size: 12px;
			font-weight: bold;

			position: relative;
			background: #d7d7d7;
			padding: 10px 0 10px 7px;
			&:nth-of-type(2) {
				margin: 20px 0 0;
			}
			span {
				font-size: 12px;
				margin: 0 0 0 10px;
			}
			&::after {
				content: "+";
				position: absolute;
				font-size: 16px;
				top: 8px;
				right:  10px;
			}
			&.active {
				&::after {
					content: "－";
				}
			}
		}
		.nav__items {
			margin: 0 0 0;

			border: 1px solid #d7d7d7;
			display: none;
			.item {
				display: inline-block;
				color: #333;
				font-weight: 400;
				font-size: 12px;
				line-height: 1.4em;
				// margin: 0 7px 0 0;

				box-sizing: border-box;

				width: 100%;

				border-bottom: 1px solid #d7d7d7;
				a {
					cursor: pointer;
					display: block;
					padding: 7px 0 7px 10px;
				}
				&:last-child {
					border: none;
				}
			}
			// .item::after {
			// 	content: "/";
			// 	display: inline-block;
			// 	font-size: 10px;
			// 	padding: 0 10px;
			// }
			// .item:last-child::after {
			// 	content: "";
			// }
		}
	}
	.main {
		padding: 0 0 50px;
		.main__article {
			position: relative;
			width: 100%;
			// max-width: 1000px;
			margin: 0 auto;

			&.article {
				.article__ttl {
					text-align: center;
					border-bottom: solid 2px #333;

					margin: 0 10px 0;

					padding: 30px 0 7px;
					font-size: 14px;
					font-weight: bold;
					// font-family: "futura_md";
				}
				.article__items {
					display: inline-flex;
					flex-wrap: wrap;
					// width: 100%;
					// min-width: 1000px;
					margin: 0 10px 0;
					box-sizing: border-box;
					.item {
						width: 32%;
						margin:  20px 0.66% 0;
						a {
							position: relative;
							display: block;

						}
						&__image {
							border: solid #eee 1px;
							img {
								width: 100%;
							}
						}
						&__brand {
							margin: 10px 0 0;
							color: #777;
							font-size: 10px;
						}
						&__price {
							margin: 5px 0 0;
							font-size: 14px;
							font-family: "Din1451Alt";
							&::after {
								content: "税込";
								color: #777;
								font-size: 11px;
								margin-left: 3px;
							}
						}

						// .item__txt {
						// 	margin: 7px 0 0 0;
						// 	font-size:  14px;
						// 	font-style: italic;
						// 	white-space: nowrap;
						// 	overflow: hidden;
						// 	text-overflow: ellipsis;
						// }

						// &:nth-child(6n){
						// 	margin: 30px 0 0 0;
						// }

						// &:nth-child(3n) {
						// 	margin: 20px 0 0 0;
						// }
					}
				}
			}
		}
	}
	.main__search {
		position: relative;
		// width: 100%;
		// max-width: 1200px;
		margin: 40px 10px 50px;
		box-sizing: border-box;
		&.search {
			.search__items {
				.item {
					position: relative;
					display: block;
					margin: 0 auto;
					// width: 700px;
					border: solid #333 2px;
					font-size: 16px;
					font-weight: bold;
					background: #fff;
					box-sizing: border-box;
					span {
						display: block;
						margin: 0 0 20px;
						font-size: 12px;
						font-weight: bold;
					}
					a {
						display: block;
						padding: 30px 0 35px;
						text-align: center;
					}
					.item__txt {
						margin: 7px 0 0 0;
						font-size:  12px;
						font-style: italic;
					}
					&:nth-child(n + 2) {
						margin-top: 20px;
					}
					&::after {
						position: absolute;
						top: 48%;
						right: 30px;
						font-family: "FontAwesome";
						content: "\f054";
					}
					&:hover {
						&::after {
							right: 20px;
						}
					}
				}
			}
		}
	}
	.main__bnr {
		position: relative;
		// width: 100%;
		// max-width: 1200px;
		margin: 80px 10px 0;
		box-sizing: border-box;
		&.bnr {
			.bnr__items {
				.item {
					position: relative;
					display: block;
					margin: 0 auto;
					// width: 700px;
					box-sizing: border-box;
				}
			}
		}
	}
}
